# =========================
# SEGURANÇA E AMBIENTE LOCAL
# =========================
.env
.venv/
env/
venv/
storage/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# =========================
# IDEs E FERRAMENTAS
# =========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# =========================
# DOCKER (Apenas arquivos locais, não a configuração)
# =========================
postgres_data/
.dockerignore
docker-compose.override.yml



# -- TOKENS E CREDENCIAIS --
token.txt

# Scripts de manutenção local
reset_banco.py
criar_admin.py
reset_banco_local.py